/* Default styles */
.navbar-brand {
  font-size: 1.5rem;
}

.navbar .form-control {
  width: 250px;
}

/* Add gap between form and button in collapsed view */
@media (max-width: 991px) {
  #navbarSearch form,
  #navbarSearch {
    padding-top: 5px;
    margin-bottom: 8px;
  }
  
}
